FRONTEND_PORT=3000
FRONTEND_LOGIN_URL=http://localhost:3000/login
NEXT_PUBLIC_API_URL=
INTERNAL_API_URL=http://kong:8000
IDENTITY_SERVICE_IMAGE=ghcr.io/anhnbt05/it-job-platform-identity-service:main
ORGANIZATION_SERVICE_IMAGE=ghcr.io/anhnbt05/it-job-platform-organization-service:main
NOTIFICATION_SERVICE_IMAGE=ghcr.io/anhnbt05/it-job-platform-notification-service:main
JOB_SERVICE_IMAGE=ghcr.io/anhnbt05/it-job-platform-job-service:main
APPLICATION_SERVICE_IMAGE=ghcr.io/anhnbt05/it-job-platform-application-service:main
DASHBOARD_SERVICE_IMAGE=ghcr.io/anhnbt05/it-job-platform-dashboard-service:main
FRONTEND_IMAGE=ghcr.io/anhnbt05/it-job-platform-frontend:main

IDENTITY_POSTGRES_DB=identity_db
IDENTITY_POSTGRES_USER=postgres
IDENTITY_POSTGRES_PASSWORD=postgres
IDENTITY_POSTGRES_PORT=5432

JOB_POSTGRES_DB=job_db
JOB_POSTGRES_USER=postgres
JOB_POSTGRES_PASSWORD=postgres
JOB_POSTGRES_PORT=5433

NOTIFICATION_POSTGRES_DB=notification_db
NOTIFICATION_POSTGRES_USER=postgres
NOTIFICATION_POSTGRES_PASSWORD=postgres
NOTIFICATION_POSTGRES_PORT=5434

ORGANIZATION_MYSQL_DB=organization_db
ORGANIZATION_MYSQL_USER=organization
ORGANIZATION_MYSQL_PASSWORD=organization
ORGANIZATION_MYSQL_ROOT_PASSWORD=root
ORGANIZATION_MYSQL_PORT=3306

APPLICATION_MONGO_DB=application_db
APPLICATION_MONGO_PORT=27018

REDIS_PORT=6379
KAFKA_UI_PORT=8080
KAFKA_BROKER_PORT=9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_CONTROLLER_PORT=29093
KAFKA_INTERNAL_BROKER=kafka:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
KAFKA_NODE_ID=1
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

PROMETHEUS_PORT=9090
GRAFANA_PORT=3005
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
JAEGER_UI_PORT=16686
OTEL_HTTP_PORT=4318
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://jaeger:4318/v1/traces

KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001

IDENTITY_SERVICE_PORT=3001
ORGANIZATION_SERVICE_PORT=3002
NOTIFICATION_SERVICE_PORT=3003
JOB_SERVICE_PORT=8082
APPLICATION_SERVICE_PORT=8083
DASHBOARD_SERVICE_PORT=8084

JWT_SECRET=it-job-demo-jwt-secret
JWT_REFRESH_SECRET=it-job-demo-jwt-refresh-secret
JWT_EXPIRATION_TIME=120s
JWT_REFRESH_EXPIRATION_TIME=7d

MAIL_HOST=host.docker.internal
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@itjob.local

IMAGEKIT_PUBLIC_KEY=replace-with-imagekit-public-key
IMAGEKIT_PRIVATE_KEY=replace-with-imagekit-private-key
IMAGEKIT_FOLDER=/captures
