OBSERVABILITY_LOG_FILE=../../runtime-logs/dashboard-service.log
DB_HOST=localhost
DB_PORT=5435
DB_NAME=dashboard_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
JOB_SERVICE_URL=http://localhost:8082/api
APPLICATION_SERVICE_URL=http://localhost:8083/api
