PORT=
DATABASE_URL=
KAFKA_CLIENT_ID=
KAFKA_GROUP_ID=
KAFKA_BROKERS=
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION_TIME=
JWT_REFRESH_EXPIRATION_TIME=
FRONTEND_LOGIN_URL=
OBSERVABILITY_LOG_FILE=
