KAFKA_NODE_ID=1
KAFKA_BROKER_PORT=9092
KAFKA_CONTROLLER_PORT=29093
KAFKA_LOCALHOST_PORT=29092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
