KAFKA_NODE_ID=
KAFKA_BROKER_PORT=
KAFKA_CONTROLLER_PORT=
KAFKA_LOCALHOST_PORT=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
CLUSTER_ID=